.App {
  font-family: "Nunito", sans-serif;
  color: rgb(3, 235, 214);
  text-align: center;

  input {
    color: rgb(110, 69, 22);
    background-color: rgb(3, 235, 214);
    border: 3px solid rgb(3, 235, 214);
    border-radius: 5px;
    margin: 0.2rem;
  }

  button {
    color: rgb(110, 69, 22);
    background-color: rgb(3, 235, 214);
    border: 3px solid white;
    border-radius: 5px;
  }

  h1 {
    font-size: 2rem;
    margin: 0.67rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0.83rem 0;
  }
}

.quote-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quote-top {
  font-size: 18px;
}

.quote-bottom {
  font-size: 16px;
}
