@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lucht-blauw: #62c6c0ff;
  --tekst-schaduw-blauw: #018678ff;
  --aarde-bruin: #6d461bff;
  --aarde-bovenkant-bruin: #825a30ff;
  --aarde-bovenkant-beige: #e39f61ff;
  --blad-lichtgroen: #65b045ff;
  --blad-donkergroen: #538f40ff;
  --steeltje-donkergroen: #396732ff;
  --aarde-bier: #ce8d4aff;
  --tekst-zwart: #000000ff;
  --foreground-text: var(--tekst-zwart);
  --base-unit: 1vmin;
}

@font-face {
  font-family: "Milasian Circa";
  src: url("/MilasianCircaBold.ttf") format("truetype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-text: #ffffffff;
  }
}

body {
  color: var(--foreground-text);
  background: var(--aarde-bruin);
}

main {
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template: "content-overlap";
}

.content-voor {
  grid-area: content-overlap;
}

.content-achter {
  grid-area: content-overlap;
}

.lichting-afbeelding {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lichting-afbeelding-bubbel {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 40vmin;
  height: 40vmin;
  padding: 3vmin;
}

@media (max-width: 800px) {
  .lichting-afbeelding-bubbel {
    background: var(--aarde-bier);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
}

@media (min-width: 801px) {
  .lichting-afbeelding-bubbel {
    background: var(--aarde-bovenkant-bruin);
  }

  .lichting-balk {
    width: 100vw;
    height: 30vmin;
  }

  .lichting-afbeelding-links {
    margin-right: auto;
    margin-left: clamp(calc(40vw - 40vmin), 3vw, 20vw);
  }

  .lichting-afbeelding-rechts {
    margin-left: auto;
    margin-right: clamp(calc(40vw - 40vmin), 3vw, 20vw);
  }
}
