.baggerButton {
	background-color: var(--blad-donkergroen);
    width: 15vw;
    min-width: 100px;
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	box-shadow: var(--steeltje-donkergroen) 0 3px 0, var(--aarde-mega-bruin) 0 7px 13px -3px;
	font-weight: 700;
}

.baggerButton:hover {
	/* box-shadow: inset var(--aarde-bruin) 0 -7px 0 0px, inset var(--aarde-mega-bruin) 0 -2px 2px 0px, var(--aarde-mega-bruin) 0 -7px 0px 5px, var(--aarde-bruin) 0 0px 0px 5px;
	transform: translateY(7px) scale(0.95); */
	box-shadow: var(--steeltje-donkergroen) 0 5px 0, var(--aarde-mega-bruin) 0 10px 20px -3px;
	transform: translateY(-2px);
}

.baggerButton:active {
	transform: translateY(2px);
	background-color: var(--blad-iets-donkerdergroen);
	box-shadow: var(--steeltje-donkergroen) 0 3px 0, var(--aarde-mega-bruin) 0 7px 13px -3px;
}

