.turfRow {
    flex-direction: row;
    justify-content: space-around;
    max-width: 100vw;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    gap: 2mm;
}

.turfRow {
    display: flex;
}

/* On mobile */
@media (max-width: 800px) {
    .tallyPage {
        padding: 0 2rem;
    }

    .tallyCreationMain {
        width: 100%;

        .buttonContainer {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    .tallyListMain {
        padding-left: 5mm;
        padding-right: 5mm;
    }

    .turfRow {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 5px;
    }

    .tallyCount {
        grid-column: 1;
        grid-row: 1 / span 2;
        font-size: 200%;
    }

    .tallyName {
        grid-column: 2;
        grid-row: 1;
    }

    .tallyPrice {
        grid-column: 2;
        grid-row: 2;
    }
}

@media (min-width: 380px) {
    .tallyCreationMain {
        .buttonContainer {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: 1fr 1fr;

            .baggerButton {
                justify-self: stretch;
            }
        }
    }
}

@media (min-width: 800px) {
    .tallyPage {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tallyCreationMain {
        width: 50vw;

        .buttonContainer {
            gap: 3rem;
        }
    }
}

.tallyListHeader,
.totalBar,
.cancelButtonBar,
.submitButtonBar,
.addEntryButtonBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 1cm;
}

.submitButtonBar,
.addEntryButtonBar {
    margin-top: 3vh;
}

.submitButtonBar {
    margin-bottom: 5vh;
}

.cancelButton,
.submitButton,
.addEntryButton {
    background-color: var(--blad-donkergroen);
    width: 80%;
}

.cancelButton {
    background-color: var(--aarde-bovenkant-bruin);
}

.rowFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &.center {
        align-items: center;
    }
}

.tallyCreationMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
}

.gap10vw {
    gap: 10vw;
}

.gap5vw {
    gap: 5vw;
}

.gap1rem {
    gap: 1rem;
}

.noMargin {
    margin: 0;
}

.tallyCreationInput {
    color: black;
    width: 20vw;
    min-width: 150px;
    text-align: center;
}

.tallyListMain {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.tallyDirectInput {
    color: black;
    width: 80vw;
    min-height: 1cm;
    text-align: center;
}

.tallyDirectButton {
    background-color: var(--blad-donkergroen);
    width: 15vw;
}

.tallyInput {
    color: black;
    overflow: hidden;
    text-align: right;
    min-width: 0;
}

.tallyCount {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tallyCount input {
    flex: 1;
    height: 100%;
}

.tallyButton {
    background-color: var(--blad-donkergroen);
    flex: 1;
}

.submittingModal {
    padding: 1em;
}

.submittingModal.cancel,
.submittingModal.confirm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: "a a"
                         "b d";
}

.submittingModal p {
    grid-area: a;
}

.submittingModalButton {
    background-color: var(--blad-donkergroen);
    min-width: 2cm;
    min-height: 1cm;
}

.submittingModalButton.yes {
    grid-area: d;
}

.submittingModalButton.no {
    grid-area: b;
}

.total {
    width: 80%;
    background-color: var(--blad-donkergroen);
}

.centeredColContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.125rem;
}

.baggerInput {
    padding: 0.75rem 0.75rem;
    line-height: 1rem;
    text-align: left;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--aarde-mega-licht-bruin-3);
    box-shadow: var(--aarde-bovenkant-bruin) 1px 1px 3px 0 inset;
    display: block;
    width: 100%;
    &::placeholder {
        color: lightgray;
    }
}

.baggerInputLabel {
    font-size: 0.8rem;
    color: var(--aarde-mega-licht-bruin-4);
    display: block;
    margin-bottom: 0.25rem;
}

h3 {
    color: var(--aarde-mega-licht-bruin-3);
}

.tallyListHeader {
    text-align: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.logout {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
}
