.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--blad-lichtgroen);
    font-size: max(min(5vw, 32px), 11px);
    margin-top: max(min(5vw, 32px), 11px);
}

.section a {
    color: var(--blad-donkergroen);
    font-weight: bold;
    text-decoration-line: underline;
    &:hover {
        color: var(--blad-donkergroen-1);
    }
}

.section > .title {
    font-size: 1.5em;
}
