.roundNeoButton {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--aarde-bovenkant-bruin);
    box-shadow: var(--aarde-mega-bruin) 0 7px 13px -3px;
    flex-shrink: 0;

    &:hover {
        background: var(--aarde-bovenkant-bruin-1);
        box-shadow: var(--aarde-mega-bruin) 0 10px 20px -3px;
    }

    &:active {
        background: var(--aarde-bovenkant-bruin);
    }

    &.green {
        background-color: var(--blad-donkergroen);

        &:hover {
            background-color: var(--blad-donkergroen-2);
        }

        &:active {
            background-color: var(--blad-donkergroen-1);
        }
    }
}